pre, code {
	font-family: 'Source Code Pro', monospace;
}

hr {
	border-top: 2px solid #bbbbbb !important;
}

ul.tag_box, .tag_box li {
	list-style-type: none;
}

.statcounter {
	display: none;
}

.mb19 {
	margin-bottom: 19px;
}